<p>A blurb about using this site. Explains transactions, categories and sellers.</p>

<div class="home-transactions">
    <h2>Transactions</h2>
    <a href="/transactions">View All</a>
    <a href="/transactions/new">Add New</a>
</div>

<div class="home-categories">
    <h2>Categories</h2>
    <a href="/categories">View All</a>
    <a href="/categories/new">Add New</a>
</div>

<div class="home-sellers">
    <h2>Sellers</h2>
    <a href="/sellers">View All</a>
    <a href="/sellers/new">Add New</a>
</div>
