<p>Add or view transactions using the links below. <br><br>You can also add categories, and sellers, and assign them to any number of transactions!<br><br>Set a budget so that you can be alerted if you come close to it, or go over it.</p>

<div class="home-options">
    <ul>
      <li>
        <h2>TRANSACTIONS</h2>
      </li>
      <li>
        <a href="/transactions" class="button" >View All</a>
      </li>
      <li>
        <a href="/transactions/new" class="button" >Add New</a>
      </li>
    </ul>
</div>

<div class="home-options">
    <ul>
      <li>
        <h2>CATEGORIES</h2>
      </li>
      <li>
        <a href="/categories" class="button" >View All</a>
      </li>
      <li>
        <a href="/categories/new" class="button" >Add New</a>
      </li>
    </ul>
</div>

<div class="home-options">
    <ul>
      <li>
        <h2>SELLERS</h2>
      </li>
      <li>
        <a href="/sellers" class="button" >View All</a>
      </li>
      <li>
        <a href="/sellers/new" class="button" >Add New</a>
      </li>
    </ul>
</div>
