<p>A blurb about using this site. Explains transactions, categories and sellers.</p>

<div class="home-options">
    <ul>
      <li>
        <h2>TRANSACTIONS</h2>
      </li>
      <li>
        <a href="/transactions">View All</a>
      </li>
      <li>
        <a href="/transactions/new">Add New</a>
      </li>
    </ul>
</div>

<div class="home-options">
    <ul>
      <li>
        <h2>CATEGORIES</h2>
      </li>
      <li>
        <a href="/categories">View All</a>
      </li>
      <li>
        <a href="/categories/new">Add New</a>
      </li>
    </ul>
</div>

<div class="home-options">
    <ul>
      <li>
        <h2>SELLERS</h2>
      </li>
      <li>
        <a href="/sellers">View All</a>
      </li>
      <li>
        <a href="/sellers/new">Add New</a>
      </li>
    </ul>
</div>
