<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MyWallet</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css" >
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css" >
    <link rel="stylesheet" type="text/css" href="/styles/forms.css" >
    <link rel="stylesheet" type="text/css" href="/styles/grids.css" >
  </head>
  <body>
    <header>
      <div class="header-grid">
        <div class="grid-row">
          <div class="cell logo">
            <img src="/images/mywallet_logo.jpg" alt="MyWallet Logo" height="80">
          </div>
          <div class="cell">
            <h1>The easy way to track your spending</h1>
          </div>
        </div>
      </div>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/transactions">Transactions</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
        <li>
          <a href="/sellers">Sellers</a>
        </li>
      </ul>
    </nav>
    <section class="budget-bar">
      <div class="budget-bar-row">
        <div class="cell-budget">
          <p>BUDGET: £nn.nn</p>
          <a href="#" class="button" >Change Budget Amount</a>
        </div>
        <div class="cell-total-spent">
          <p>TOTAL SPENT: £<%= '%.2f' % Transaction.total_spent %></p>
        </div>
      </div>
    </section>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>
