<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MyWallet</title>
    <link rel="stylesheet" type="text/css" href="/styles/structure.css" >
  </head>
  <body>
    <header>
      <img src="/images/mywallet_logo.jpg" alt="MyWallet Logo" height="80">
      <h1>The easy way to track your spending</h1>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/transactions">Transactions</a>
        </li>
        <li>
          <a href="/categories">Categories</a>
        </li>
        <li>
          <a href="/sellers">Sellers</a>
        </li>
      </ul>
    </nav>
    <section class="budget-bar">
      <div class="grid budget-bar-grid">
        <div class="grid-row">
          <div class="cell">
            <p>Total Spent:</p>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <%= yield %>
    </section>
  </body>
</html>
