<p>Update Seller Details</p>

<form class="new-update" method="post" action="/sellers/update/<%= @seller.id %>">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" maxlength="255" value="<%= @seller.name %>" required />

  <input type="submit" value="Update Seller Details"/>

  <a href="/sellers">Cancel</a>

</form>
