<h2>Update Seller Details</h2>

<form class="new-update" method="post" action="/sellers/update/<%= @seller.id %>">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" maxlength="255" value="<%= @seller.name %>" required />

  <div class="form-submit">
    <input type="submit" value="Update Seller"/>
    <a href="/sellers">Cancel</a>
  </div>

</form>
