<div class="index-top-row">
  <div class="index-cell-title">
    <h1>Sellers</h1>
  </div>
  <div class="index-cell-add-button">
    <a href="/sellers/new" class="button"><span>+ </span>Add New Seller</a>
  </div>
</div>

<div class="list-grid" id="seller-grid">
  <% for seller in @sellers %>
    <div class="cell">
      <p><%= seller.name %></p>
    </div>
    <div class="cell">
      <a href="/sellers/edit/<%= seller.id %>" class="button" >Update Seller Details</a>
    </div>
    <div class="cell">
      <a href="/sellers/delete/<%= seller.id %>" class="button" >Remove Seller</a>
    </div>
  <% end %>
</div>
