<h2>Add New Seller</h2>

<form class="new-update" method="post" action="/sellers/create">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" maxlength="255" required />

  <div class="form-submit">
    <input type="submit" value="Add Seller"/>
    <a href="/sellers">Cancel</a>
  </div>

</form>
