<p>Add New Seller</p>

<form class="new-update" method="post" action="/sellers/create">

  <label for="name">Name:</label>
    <input id="name" type="text" name="name" />

  <input type="submit" value="Add Seller"/>

  <a href="/sellers">Cancel</a>

</form>
