<p class="delete-confirmation-message">
  <strong>! ! !</strong>
  <br>
  <br>
  Are you sure you want to remove this category?
  <br>
  <br>
  Once you remove it, it's gone for good!!!
</p>

<div class="delete-options">
  <form action="/categories/delete/<%= @category.id %>" method="post">
    <input type="submit" value="Yes I'm sure! Please remove it!" class="button">
  </form>
  <a href="/categories">No, I made a mistake! Please don't remove it!</a>
</div>
