<div class="index-top-row">
  <div class="index-cell-title">
    <h1>Categories</h1>
  </div>
  <div class="index-cell-add-button">
    <a href="/categories/new" class="button" ><span>+ </span>Add New Category</a>
  </div>
</div>

<div class="list-grid">
  <% for category in @categories %>
    <div class="cell">
      <p><%= category.name %></p>
    </div>
    <div class="cell">
      <a href="/categories/edit/<%= category.id %>" class="button" >Update Category Details</a>
    </div>
    <div class="cell">
      <a href="/categories/delete/<%= category.id %>" class="button" >Remove Category</a>
    </div>
  <% end %>
</div>
