<h2>Add New Category</h2>

<form class="new-update" method="post" action="/categories/create">

  <label for="name">Category:</label>
    <input id="name" type="text" name="name" maxlength="255" required/>

  <div class="colour-picker-container">
    <label for="colour" >Colour:</label>
    <input id="colour" class="colour-picker" type="color" name="colour" value="#FFFFFF">
  </div>

  <div class="form-submit">
    <input type="submit" value="Add Category"/>
    <a href="/categories">Cancel</a>
  </div>

</form>
