.new-update {
  width: 500px;
}

.new-update input {
  width: 100%;
  background-color: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 5px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  border: 1px solid #D86939;
  border-radius: 5px;
  color: #D86939;
}

.colour-picker-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

#colour {
  height: 40px !important;
  width: 30%;
  margin-left: 10px;
}

select {
  width: 100%;
  background-color: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 12px;
  padding: 10px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  border: 1px solid #D86939;
  border-radius: 5px;
  color: #D86939;
}

input[type=text]:focus {
  background-color: #EFEDFF;
}

input[type=number]:focus {
  background-color: #EFEDFF;
}

select:focus {
  background-color: #EFEDFF;
}

input[type=datetime-local]:focus {
  background-color: #EFEDFF;
}

/* submit and cancel */

.form-submit {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.new-update input[type=submit] {
  width: 30%;
  background-color: #EFEDFF;
  color: #D86939;
  border-color: #D86939;
}

.new-update input[type=submit]:hover {
  background-color: #dadaf1;
}

.new-update input[type=submit]:active {
  background-color: #dadaf1;
  margin-top: 6px;
  margin-bottom: 13px;
  padding: 4px 3px;
}

.form-submit a {
  display: inline-block;
  width: 30%;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  border: 1px solid #435176;
  border-radius: 5px;
  background-color: #e06c70;
  color: white;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 12px;
}

.form-submit a:hover {
  background-color: #db575b;
}

.form-submit a:active {
  background-color: #db575b;
  margin-top: 6px;
  margin-bottom: 13px;
  padding: 4px 3px;
}
