/* body */

body {
  color: #D86939;
}

/* header  */

.header-grid .grid-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-bottom: 1px solid #D86939;
}

.header-grid .cell {
  flex-grow: 1;
  text-align: center;
  font-style: italic;
}

.header-grid .logo {
  width: 260px;
  /* flex: none; */
}

/* nav bar */

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #D86939;
  width: 100%;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #D86939;
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

nav li a:hover {
  background-color: #A7A6DD;
  color: white;
}

/* budget bar */

.budget-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.budget-bar-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #D86939;
}

.cell-total-spent {
  align-self: flex-end;
  padding-right: 8px;
}
