/* body */

body {
  color: #D86939;
}

/* header  */

.header-grid .grid-row {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-bottom: 1px solid #D86939;
}

.header-grid .cell {
  flex-grow: 1;
  text-align: center;
  font-style: italic;
}

.header-grid .logo {
  width: 260px;
  /* flex: none; */
}

/* nav bar */

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #D86939;
  width: 100%;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

nav li {
  flex-grow: 1;
  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #D86939;
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

nav li a:hover {
  background-color: #A7A6DD;
  color: white;
}

/* budget bar */

.budget-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.budget-bar-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #D86939;
  color: #2F4858;
}

.cell-total-spent {
  padding-right: 8px;
  font-weight: bold;
}

.cell-budget {
  padding-left: 8px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cell-budget-message {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cell-budget a {
  color: #2F4858;
  background-color: #BDBCE1;
  border-color: #2F4858;
  margin-left: 10px;
  font-size: 14px;
}

/* home page */

.home-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: auto;
}

.home-options h2 {
  width: 191px;
}

.home-options ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  padding: 3px 0px;
  margin: 10px 0;
  background-color: #FFE7D4;
}

.home-options li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.home-options a {
  color: #D86939;
  background-color: #EFEDFF;
  border-color: #D86939;
}

/* index pages - top */

.index-top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.index-cell-title {
  padding-right: 8px;
}

.index-cell-add-button {
  padding-left: 8px;
  display: flex;
  align-items: center;
}

.index-cell-add-button a {
  color: #D86939;
  background-color: #EFEDFF;
  border-color: #D86939;
  padding-top: 1px;
}

.index-cell-add-button a span {
  font-size: 24px;
}
